# Copia a terraform.tfvars y completa TUS valores.

location            = "eastus"
resource_group_name = "rg-ApiGo-CiCd-dev"

# ACR: único global, solo letras/números, 5-50 chars
acr_name = "acrapigocicd01"
acr_sku  = "Basic"

log_analytics_workspace_name   = "log-apigo-cicd-dev"
container_app_environment_name = "cae-apigo-cicd-dev"
container_app_name             = "ca-apigo-cicd-dev"

# Imagen en ACR (después del docker push)
container_image  = "acrapigocicd01.azurecr.io/apigo-cicd:v1"
target_port      = 8080
use_acr_registry = true

min_replicas = 0
max_replicas = 3
cpu          = 0.25
memory       = "0.5Gi"

tags = {
  project     = "ApiGo-CiCd"
  environment = "dev"
  managed_by  = "terraform"
  owner       = "Francisco Riquelme"
}
